@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-12">
		<h2>Hangfire Postgresql sample</h2>
	</div>
	

	<div class="col-md-12">
		<a asp-area="" asp-controller="Home" asp-action="AddJobToHangfire" class="btn btn-primary btn-lg">Add job to hangfire</a>
	</div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success" role="alert">@ViewBag.Message</div>
		</div>
	</div>
}
